---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import ProgrammerShowcase from "../components/ProgrammerShowcase.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import ContactFooter from "../components/ContactFooter.astro";
---

<Layout title="Ciber-Portafolio | El Futuro del Código">
	<main>
		<Hero />
		<Skills />
		<ProgrammerShowcase />
		<ProjectGrid />
	</main>
	<ContactFooter />
</Layout>
